name: Verify commit signatures

on:
  push:
    branches: [master]

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run signature verification
        run: node .grimoire/scripts/verify-signature.js